{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_collaborate/pagerow

    Moodle renders one row of the reports (mustache partial)

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
        {
         "heading": "My heading",
         "body": "My html body"
        }
}}
<tr class="danger">
  <td>{{id}}</td>
  <td>{{title}}</td>
  <td>{{#shortentext}} 20, {{submission}}{{/shortentext}}</td>
  <td>{{firstname}}</td>
  <td>{{lastname}}</td>
  <td>{{grade}}</td>
</tr>